@import "../../css/colors.css";

* {
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: "Inter Variable", "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: $page-background;
    color: $page-foreground;
}

a {
    color: $link-color;
}

.main section {
    max-width: 900px;
    margin: auto;
    margin-bottom: 30px;
}

.header-container {
    color: white;
    background-color: $looks-secondary;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 30px;
}
.header-text {

}